.container {
  display: flex;
  color: rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  width: 40%;
}

.select {
  font-weight: bold;
  color: white;
}

.sidebutton {
  background-color: transparent;
  color: inherit;
  background: transparent;
  border-radius: 5px;
  padding: 0 0rem;
  min-width: 3rem;
}

.sidebutton:hover {
  background: var(--highlight-grey);
}

.ghostButton {
  background-color: transparent;
  color: inherit;
  background: transparent;
  padding: 0 0.8rem;
  min-width: 3rem;
}

@media screen and (max-width: 980px) {
  .container {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 65%;
    -webkit-tap-highlight-color: transparent;
  }

  .select {
    -webkit-tap-highlight-color: transparent;
  }

  .select:hover {
    background: transparent;
  }

  .sidebutton:hover {
    background: transparent;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 75%;
  }
}
