.switchContainer {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    gap: 0.8rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.selectedSwitchButton {
    background-color: var(--yellow-tdf);
    color: var(--light-grey);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selectedSwitchButton:hover {
    background-color: var(--yellow-tdf);
    color: var(--light-grey);
}

.switchButton {
    background-color: var(--highlight-grey);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switchButton:hover {
    background-color: var(--highlight-grey);
}

.sliderContainer {
    display: flex;
    align-items: center;
    width: 1.6rem;
    height: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.sliderTrack {
    background-color: white;
    height: 0.2rem;
    width: 100%;
    border-radius: 0.25rem;
    position: relative;
}

.sliderThumb {
    background: linear-gradient(180deg, var(--yellow-tdf) 0%, var(--yellow-tdf) 100%);
    height: 0.9rem;
    width: 0.9rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}

.selectedIcon {
    color: white;
}

.unSelectedIcon {
    color: #a2b3c2;
}

@media screen and (max-width: 600px) {
    .switchContainer {
        -webkit-tap-highlight-color: transparent;
    }

    .sliderContainer {
        display: none;
    }

    .unSelectedIcon {
        color: white;
    }
}
