.transferButton {
    border: 1px solid transparent;
    background: transparent;
    cursor: pointer;
}

.transferButton:hover {
    position: relative;
    background: var(--light-grey);
    border: 1px solid var(--highlight-grey);
}

.drawer {
    background-color: black;
}

@media screen and (max-width: 468px) {
    .transferButton:hover {
        background-color: transparent;
        border: 1px solid transparent;
    }

    #emptyButton {
        display: none;
    }

    .icon {
        width: 20px;
        height: 20px;
    }
}