.content {
  background-color: #61696c76;
  min-height: 100%;
  backdrop-filter: blur(5px);
  position: relative;
  padding: 0 1rem;
  overflow: hidden;
}

.overlay {
  background-color: #272b2f8e;
  backdrop-filter: blur(10px);
}

.body {
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 150px);
  max-height: 100%;
}

.searchInput {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}



.buttonGroup {
  display: flex;
  gap: 1rem;
}

.updateButton[data-disabled] {
  opacity: 0.5;
  background-color: var(--highlight-grey) !important;
  cursor: not-allowed;
  border: 1px solid #ffffff22 !important;
}
