.container {
    display: none;
    width: 50%;
    height: 100%;
}

.button {
    background: var(--header-color);
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: none;
    border-right: 2px solid var(--dark-grey);
}


@media screen and (max-width: 800px) {
    .container {
        display: block;
    }
}