.container {
    width: 100%;
    background-color: var(--light-grey);
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.innerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}