.mainContainer {
  background: var(--dark-grey);
  border-radius: 5px;
  overflow: hidden;
  height: 100%;
  box-shadow: 0 10px 12px -8px #0000006b;
  width: 100%;
  min-height: calc(var(--height-unit) * 4.2);
}

.button {
  background: var(--light-grey);
  font-weight: 500;
  --button-hover: var(--highlight-grey);
  box-shadow: 0 1px 2px 0px rgba(31, 31, 31, 0.493);
  width: 100%;
  border: 1px solid var(--highlight-grey);
}

.filterProviderWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--dark-grey);
}

@media screen and (max-width: 768px) {
  .arrowIcon {
    display: block;
    position: absolute;
    left: 10px;
  }
}