.row {
    cursor: pointer;
}


.row:hover {
    background-color: var(--highlight-grey);
}

.selectedRow {
    cursor: pointer;
    background: var(--blue-selected);
    height: calc(100% / 11);
}

.disabledRow {
    cursor: default;
    color: var(--icon-grey);
    height: calc(100% / 11);
}

.disabledRow:hover {
    background-color: var(--highlight-grey);
}

.selectedRow:hover {
    background-color: #16adffc2;
}


.riderImage {
    width: 28px;
    height: 34px;
    border-radius: 50%;
    margin-right: 10px;
}

.name {
    font-weight: 600;
    font-size: 13px;
    text-wrap: nowrap;
    overflow: hidden;
    max-width: 7rem;
    text-overflow: ellipsis;
}

.team {
    font-weight: 600;
    font-size: 11px;
    color: rgb(200, 200, 200);
    text-wrap: nowrap;
    position: absolute;
}

.teamSelected {
    font-weight: 600;
    font-size: 11px;
    color: rgb(255, 255, 255);
    text-wrap: nowrap;
    position: absolute;
}


.teamDisabled {
    font-weight: 600;
    font-size: 11px;
    color: rgb(200, 200, 200);
    text-wrap: nowrap;
    position: absolute;
    color: var(--icon-grey);
}

.categoryPrice {
    font-weight: 600;
    vertical-align: top;
    font-size: 13px;
}

.priceDisabled {
    font-weight: 600;
    vertical-align: top;
    font-size: 13px;
    color: red;
}

.minus {
    display: none;
}

.selectedRow:hover .minus {
    display: inline;
}

.selectedRow:hover .check {
    display: none;
}

@media screen and (max-width: 768px) {
    .row {
        -webkit-tap-highlight-color: transparent;
    }

    .selectedRow:hover .check {
        display: block;
    }

    .selectedRow:hover .minus {
        display: none;
    }

    .selectedRow:hover {
        background-color: var(--blue-selected);
    }

    .row:hover {
        background-color: transparent;
    }

    .disabledRow:hover {
        background-color: transparent;
    }
}
    

@media screen and (max-width: 468px) {
    .name {
        font-size: 12px;
    }

    .team {
        font-size: 10px;
    }

    .teamSelected {
        font-size: 10px;
    }

    .teamDisabled {
        font-size: 10px;
    }

    .categoryPrice {
        font-size: 12px;
    }

    .riderImage {
        width: 26px;
        height: 30px;
    }
}