.globalLoader {
    background: rgb(var(--background-rgb));
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000000;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.innerWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
}