.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 8rem 0;
    justify-self: center;
    width: 100%;
    gap: calc(var(--height-unit) / 8);
}

.input {
    position: relative;
    background: var(--light-grey);
    border: none;
    color: white;
}

.container > h1 {
    font-size: 45px;
}

@media screen and (max-width: 768px) {

    .container {
        margin: 0 0 8rem 0;
    }

    .input {
        font-size: 14px;
    }

    .container > h1 {
        font-size: 30px;
    }
}