.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 8rem 0;
    justify-self: center;
    width: 100%;
    gap: calc(var(--height-unit) / 8);
}

.input {
    background: var(--light-grey);
    border: none;
    color: white;
    border: 0px solid var(--highlight-grey);
}

.container > h1 {
    font-size: 45px;
}