.pageContainer {
    margin-top: 100px;
    min-width: 300px;
}

.container {
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-direction: column;
}

.mapTableContainer {
    display: grid;
    gap: 10px;
    grid-template-columns: 60% 40%;
    justify-content: center;
    box-sizing: border-box;
}

.loadingPlanContainer {
    display: flex;
    background: transparent;
    position: relative;
    flex-grow: 1;
    box-sizing: border-box;
}

.overlay {
    background: #112539ac;
    position: absolute;
    border-radius: 5px;
}

.overlayRoot {
    height: calc(100% + 2.6rem);
    position: absolute;
    top: -2.6rem;
    width: calc(100% + 1rem);
    left: -0.5rem;
}

.visible {
    width: 100%;
    display: block;
}

.hidden {
    display: none;
}


@media screen and (max-width: 768px) {
    .pageContainer {
        margin-top: 4rem;
    }
    
    .container {
        padding: 0;
    }

    .loadingPlanContainer {
        width: 100%;
        min-height: 0;
        padding: 0;
    }

    .mapTableContainer {
        display: flex;
        width: 100% !important;
    }
}

@media screen and (max-width: 468px) {
    .pageContainer {
        margin-top: 4rem;
        padding: 0 0.5rem;
    }
}