.mapColumn {
    overflow: hidden;
    padding: 0;
    padding-right: 15px;
    min-height: calc(4.25 * var(--height-unit));
    max-height: calc(4.25 * var(--height-unit));
    width: calc(fit-content(100%) - 15px);
}

.tableColumn {
    overflow: hidden;
    padding: 0;
    min-height: calc(4.25 * var(--height-unit));
    max-height: calc(4.25 * var(--height-unit));
}

.overlay {
    background: #112539ac;
    position: absolute;
    border-radius: 5px;
}

.overlayRoot {
    height: calc(100% + 2.6rem);
    position: absolute;
    top: -2.6rem;
    width: calc(100% + 0.2rem);
    left: -0.1rem;
}