.container {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 2.8rem;
    position: relative;
}

.updateButton {
    border-radius: 0;
    font-size: 15px;
    background: var(--header-color);
    height: 100%;
    color: white;
    width: 100%;
    height: 100%;
    padding: 0 0.5rem;
    transition: all 0.1s ease;
}

.updateButtonDisabled {
    border-radius: 0;
    font-size: 15px;
    background: var(--dark-grey);
    height: 3rem;
    color: rgba(255, 255, 255, 0.517);
    width: 100%;
    padding: 0 0.5rem;
    border-radius: 0;
    transition: all 0.1s ease;
}

.updateButton:hover {
    background: #1980ce;
}

.leftSection {
    background: var(--dark-grey);
    height: 2rem;
    width: 2rem;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    color: rgb(255, 255, 255);
}

.updateButtonDisabled .leftSection {
    color: #a0a0a0;
}


.statusContainer {
    position: absolute;
    top: -5px;
    right: 6px;
    z-index: 1000;
    background-color: #ffffff;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}