.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.label {
    width: 100%;
    font-size: 14px;
    position: relative;
}

.disabledLabel {
    width: 100%;
    font-size: 14px;
    position: relative;
    color: #c1c3c6;
}

.root {
    background: var(--light-grey);
    border: 1px solid var(--highlight-grey);
    width: 100%;
}

.root:hover {
    background: var(--highlight-grey);
}

.innerContainer {
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 10px;
}

.switchButton {
    width: calc(100% - 0.5rem);
    padding: 0;
    display: flex;
    justify-content: center;
}