.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 0.1rem;
  justify-content: center;
}

.label {
  width: 100%;
  font-size: 14px;
  position: relative;
}

.disabledLabel {
  width: 100%;
  font-size: 14px;
  position: relative;
  color: #c1c3c6;
}

.select {
  width: 100%;
  border-radius: 4px;
}

.input {
  background: var(--light-grey);
  border: 1px solid var(--highlight-grey);
  color: var(--text-color);
}

.root:hover {
  background: var(--highlight-grey);
}

.input[data-disabled="true"] {
  background: var(--light-grey);
  color: var(--disabled-text);
  opacity: 0.5;
  cursor: not-allowed;
}

.innerContainer {
  display: grid;
  grid-template-columns: 80% 20%;
  column-gap: 10px;
  width: 100%;
}

.resetButton {
  width: calc(100% - 0.5rem);
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  background: var(--light-grey);
  border: 1px solid var(--highlight-grey);
}
