.root {
  position: relative;
  z-index: 10000;
}

.content {
  background: var(--dark-grey);
}

.header {
  background-color: var(--header-color);
}

.title {
  font-size: large;
  font-weight: 600;
}

.overlay {
  backdrop-filter: blur(5px);
}

.close {
  color: white;
}

.close:hover {
  background-color: var(--highlight-grey);
}

.body {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 2.5rem;
}
