.tableContainer {
  width: 100%;
  background: transparent;
  max-height: 80vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent;
  font-weight: bold;
  background-color: var(--dark-grey);
}

.tableContainer :global(thead th) {
  z-index: 2;
}

/* Title header (first row) */
.tableContainer :global(thead tr:first-child th) {
  background-color: white;
  color: black;
  font-size: 1rem;
}

/* Column header (second row) */
.columnHeaderRow :global(th) {
  background-color: var(--light-grey);
  box-shadow: inset 0 -1px 0 #ffffff87;
  color: #ffffff8e;
  font-size: 0.85rem;
}

.oddsTitle {
  text-align: center;
}

.headerTitle {
  width: 100%;
  text-align: center;
}

.subtleInfo {
  color: #ffffff8e;
}

.odds {
  min-width: 4rem;
  max-width: 4rem;
}

.won {
  background-color: var(--yellow-tdf);
  border-radius: 10px;
  padding: 0 8px;
  position: relative;
  display: inline-flex;
  align-items: center;
  color: var(--dark-grey);
}

.star {
  margin-left: 4px;
}

.emptyState {
  padding: 2rem;
  text-align: center;
  color: #ffffff8e;
  font-weight: normal;
}
