.container {
    width: 70%;
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 10px;
    position: relative;
}

.root {
    display: flex;
    flex-direction: column;
    position: relative;
}

.wrapper {
    display: flex;
    width: 100%;
    position: relative;
}

.input {
    background: var(--light-grey);
    border: none;
    color: white;
    border: 1px solid var(--highlight-grey);
    width: 100%;
    position: relative;
}

.editIcon {
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: transparent;
    color: var(--light-grey);
    cursor: pointer;
}

.editIcon:hover {
    background: var(--highlight-grey);
    color: var(--light-grey);
}

.loader {
    --loader-color: var(--light-grey);
}

.label {
    color: rgb(255, 255, 255);
}

.saveButton {
    width: calc(20% - 10px);
    padding: 0;
    display: flex;
    justify-content: center;
    background: var(--light-grey);
    border: 1px solid var(--highlight-grey);
    justify-self: baseline;
    position: absolute;
    right: 0;
    bottom: 0;
}

.saveButton:hover {
    background: var(--highlight-grey);
}