/* Drawer styles -------------------------*/
.root {
    position: relative;
    z-index: 10000;
}

.content {
    background: linear-gradient(153deg, rgba(7,21,36,1) 47%, rgba(4,49,78,1) 100%);
}

.header {
    background-color: var(--header-color);
}

.title {
    font-size: large;
    font-weight: 600;
}

.close {
    color: white;
}

.close:hover {
    background-color: var(--highlight-grey);
}

.body {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 2.5rem;
}

/* Content styles -------------------------*/