/* Drawer styles -------------------------*/
.root {
    position: relative;
    z-index: 10000;
}

.content {
    background-color: var(--dark-grey);
}

.header {
    background-color: var(--header-color);
}

.title {
    font-size: large;
    font-weight: 600;
}

.close {
    color: white;
}

.close:hover {
    background-color: var(--highlight-grey);
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1.5rem;
}

/* Content styles -------------------------*/