.container {
    height: auto;
    width: 100%;
    border-radius: 5px;
    margin: 5rem 0 10rem 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
}

.headerContainer {
    position: relative;
    width: 100%;
    background: var(--header-color);
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 1.5rem;
}

.linkButton {
    position: relative;
    left: -0.5rem;
    padding: 0 0.5rem;
    background: transparent;
    transition: all 0.2s ease;
}

.linkButton:hover {
    background: transparent;
    transform: scale(1.1);
}

@media screen and (max-width: 468px) {
    .container {
        height: auto;
    }

    .headerContainer {
        padding: 0.3rem 0.5rem;
    }

    .image {
        width: 100%;
    }
}

