.container {
    width: 100%;
    display: flex;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    gap: 1.5rem;
    background-color: var(--dark-grey);
    border-radius: 0 0 5px 5px;
}

.containerMultipleView {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
}

.containerMultipleView > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 750px) {
    .containerMultipleView {
        gap: 0.2rem;
    }

    .container {
        flex-direction: column;
        padding: 0.5rem 0.5rem 1rem 0.5rem;
        gap: 1rem;
    }
    
}