.container {
    display: flex;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.middleButton {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-top: 0;
    border-bottom: 0;
    font-size: 19px;
    margin: 0;
    background: transparent;
    color: inherit;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    white-space: nowrap;
}

.middleButton > h4 {
    margin: 10px;
}

.middleButton:hover {
    background: var(--highlight-grey);
}

.sideButtonRight {
    background-color: transparent;
    color: inherit;
    background: transparent;
    border-radius: 5px;
    padding: 0 0.8rem;
    position: relative;
    left: 0.2rem;
}

.sideButtonLeft {
    background-color: transparent;
    color: inherit;
    background: transparent;
    border-radius: 5px;
    padding: 0 0.8rem;
}

.sideButtonLeft:hover {
    background: var(--highlight-grey);
}

.sideButtonRight:hover {
    background: var(--highlight-grey);
}

.dropDown {
    background: var(--light-grey);
    border: 1px solid var(--highlight-grey);
    color: white;
    max-height: 14rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dropDownItem {
    color: white;
}

.dropDownItem[data-hovered] {
    background: var(--highlight-grey);
}

.dropDownIcon {
    transition: transform 150ms ease;
    transform: rotate(0deg);
    [data-expanded] & {
      transform: rotate(180deg);
    }
}

@media screen and (max-width: 468px) {
    .container {
        width: 60%;
    }

    .middleButton {
        -webkit-tap-highlight-color: transparent;
    }

    .middleButton > h4 {
        margin: 0.3rem;
    }

    .middleButton:hover {
        background: transparent;
    }

    .sideButtonRight:hover {
        background: transparent;
    }

    .sideButtonLeft:hover {
        background: transparent;
    }

    .dropDownIcon {
        width: 20px;
    }
}