.container {
    border-radius: 0 0 5px 5px;
    background: var(--dark-grey);
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    align-items: center;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    position: relative;
    box-sizing: border-box;
    gap: 4rem;
    align-items: center;
    overflow: hidden;
}

.imageInfoContainer {
    height: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
    gap: 2rem;
    align-items: center;
}

@media screen and (max-width: 875px) {
    .container {
        grid-template-columns: 60% 40%;
    }

    .imageInfoContainer {
        gap: 2rem;
    }
}

@media screen and (max-width: 700px) {
    .container {
        display: flex;
        flex-direction: column;
        padding: 1rem 0.5rem;
        gap: 1.5rem;
    }

    .imageInfoContainer {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

